extends layout
block content
  div(class = 'container')
    h1(class = 'text-center')=data.title
    form(method='POST')
      div(style = 'float:left;')
        div
          label(class="form-check-label") Going:
          label(style = 'margin-left:25px;')=data.going
        div
          label(class="form-check-label") Maybe:
          label(style = 'margin-left:25px;')=data.maybe
        if !owner
          button(type = 'submit' name="going" value="going") Going!
          button(type = 'submit' name="maybe" value="maybe") Maybe?
        else
          button(type = 'submit' name ='edit' value = 'edit') Edit Post
          button(type = 'submit' name = 'delete' value = 'delete') Delete Post
      div(style = 'float:right')
        label Details:
        p=data.description
        label Game:
        label=data.game
        div
          label Location:   
          label=data.zipcode
          div
            label Time of Event:
            label=data.event_time
      
        

