extends layout
block content
  div(class ='container')
    h1(class = 'text-center') Welcome #{user.name}
    div(class = 'row')
      div(class = 'col-sm-8')
        h4 Update Info
        form(method='POST')
          div(class = 'form-group')
            label Name
            input(type = 'text' class = 'form-control' name = 'name_input' aria-describedby="emailHelp" placeholder="Geroge Kunthara")
          div(class = 'form-group')
            label Age
            input(type = 'text' class = 'form-control' name = 'age_input' aria-describedby="emailHelp" placeholder="18")
          div(class = 'form-group')
            label Email Address
            input(type = 'email' class = 'form-control' name = 'email_input' aria-describedby="emailHelp" placeholder="Enter email")
          div(class = 'form-group')
            label Previous Password
            input(type = 'password' class = 'form-control' name = 'pre_password_input' aria-describedby="passwordHelp" placeholder="Password")
          div(class = 'form-group')
            label New Password
            input(type = 'password' class = 'form-control' name = 'new_password_input' aria-describedby="passwordHelp" placeholder="Password")
          div(class = 'form-group')
            label Confirm Password
            input(type = 'password' class = 'form-control' name = 'password_c_input' aria-describedby="passwordHelp" placeholder="Confirm Password")
          button(type = 'submit' class = 'btn btn-primary' name="save" value="save") Save Changes!
      div(class ='col-sm-4')
        h4 #{user.name}'s Stats
        p #{user.name} has:
        div
          li #{count_pid.pidcount} total post(s)
        div
          each val in p_sport_count
            li #{val.pidcount} #{val.game} post(s)
        
        h4 Everybodys Stats
        p Everybody has:
        div
          li #{other.avg} post(s) on Average

        h3 Search User by Number of Posts
        form(method='POST')
          div(class = 'form-group')
            input(type = 'number' class = 'form-control' name = 'count')
          button(type = 'submit' class = 'btn btn-primary' name = 'find' value = 'find') Find!
          if findDataVal
            div
              each val in findData
                li #{val.name} 


        
    